1.soru
SELECT actor.first_name AS actor_first_name, customer.first_name AS customer_first_name
FROM actor
FULL JOIN customer ON actor.actor_id = customer.customer_id
ORDER BY actor_first_name, customer_first_name;

2.soru
SELECT actor.first_name AS actor_first_name, customer.first_name AS customer_first_name
FROM actor
INNER JOIN customer ON actor.actor_id = customer.customer_id
ORDER BY actor_first_name, customer_first_name;

3.soru
SELECT actor.first_name
FROM actor
LEFT JOIN customer ON actor.actor_id = customer.customer_id
WHERE customer.customer_id IS NULL;

SELECT first_name FROM actor
UNION
SELECT first_name FROM customer;

SELECT first_name FROM actor
INTERSECT
SELECT first_name FROM customer;

SELECT first_name FROM actor
EXCEPT
SELECT first_name FROM customer;
